

body {
  margin: 0;
  bottom: 0;
  font-size: 14px;
  font-family: sans-serif;
  background: url(img/seaBG.png), #729cbf;
}

.container {
	background-color: #94b1c6;
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
	overflow: auto;
}

header {
	font-family: Rommetto One, cursive;
	color: #355367;
	font-size: 20px;
}

footer {
	width: 100%;
}

article {
  /*margin: 10px;*/
  padding: 20px;
}


section {
	float: left;
	width: 280px;
	padding-right: 15px;
	text-align: justify;
}

section ol li {
	margin-top: 10px;
}

section ul li {
	margin-top: 10px;
}

aside {
	float: left;
	width: 170px;
}

aside li {
  list-style-type: none;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid #967d7d;
  padding-top: 10px;
}